<div>
<%= link_to "New post", new_user_post_path(@user) %>

  <h1>Posts :</h1>
  <div >

    <% @recent_posts.each do |post| %>
        <%= render post %>
          <% end %>
</div>
<%= link_to "See all posts", user_posts_path(@user)  %>
</div>
