 <h2>
    <span>

     Title: <%= link_to post.title, [post.user, post] %>

    </span>
  </h2>
   <p>
   Text content: <%= post.text %>
  </p>

  <p>
  Comment: <%= post.commentscounter %> 
  </p>
  <div>
  
  </div>
