<h3>specific post by a user<h3>
<div>
  <%= render partial: "posts/postdetail", locals: { post: @post } %>

  </div>
  <%= link_to "Create new comment", new_user_post_comment_path(@user, @post)%>

  <%= link_to "Back to all posts", user_posts_path(@user, @post)%>

  <%= link_to "See all comments ", user_post_comments_path(@post.user, @post, @post.comments)%>
